<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../img/LOGO.png">
    <link rel="stylesheet" href="../css/registerClothes.css">
    <title>LOGIN</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        
    </script>
</head>

<body>
    <div class="header">
        <a href="index.php" class="header">
            <img src="../img/fragmento_header.png" alt="Logotipo de FRAGMENTO" title="Logotipo de FRAGMENTO"
                class="logo">
        </a>
    </div>
    <div class="registerClotehs-div">
        <section class="registerClothes-section">
            <p>Acá podrás registrar tus prendas</p>
            <form action="" method="post">
                <div class="form-group">
                    <input type="text">
                </div>
            </form>
        </section>
    </div>
</body>

</html>